<div [@routerTransition]>
  

  <div class="row">
      <div class="col-lg-10">

          <form #frm="ngForm" (ngSubmit)="register(frm.value)">
              
            <div class="row">
                <div class="col-md-6">
            <div class="form-group">
                <label>Select Client</label>
                <select name="client_id" #cli_id="ngModel" ngModel class="form-control">
                    <option  value="" disabled>-----Select-----</option>
                    <option *ngFor="let clientData of clientData" value="{{clientData.client_id}}">{{clientData.cname}}</option>
                   
                </select>
            </div>
                </div>
            </div>
            
            <!-- <div class="row">
                <div class="col-md-6">
                    <label>Select Document Category</label>
                    <div *ngFor="let docs of docs">
                        <label for="role_{{docs.category_id}}">
                          <input name="category_id[]" #cat_id[]="ngModel" ngModel   type="checkbox"  (change)="onChange(docs.category_id, $event.target.checked)">{{docs.category_name}} &nbsp;&nbsp;
                        </label>
                     </div>
                </div>

                <div class="col-md-6">
                    <label>Select Document</label>
                    <div *ngFor="let docu of docu">
                        <label for="role_{{docu.document_id}}">
                          <input  name="document_id[]" #doc_id[]="ngModel" ngModel type="checkbox"  (change)="onChange1(docu.document_id, $event.target.checked)">{{docu.dname}} &nbsp;&nbsp;
                        </label>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-6">
            <tag-input  [onlyFromAutocomplete]="true" class="form-control input-underline input-lg" [placeholder]="'Add department'" [secondaryPlaceholder]="'Department'" name="tags"  [(ngModel)]="dept" #tags="ngModel" ngModel required placeholder="Enter the department">
                <tag-input-dropdown 
                                    [autocompleteItems]="itemList">
                                    
                </tag-input-dropdown>
            </tag-input>
            </div>
            </div>
            <div class="row">
                <div class="col-md-6">
            
              <button type="submit" class="btn btn-success">Submit</button>
              <button type="button" id="btnadd" class="btn btn-success" (click)=sendEmail(cli_id.value,cat_id.value,doc_id.value)>Send Email</button>
              <button type="reset" class="btn btn-secondary">Reset Button</button>
                    </div>
                    </div>
          </form>

      </div>

  </div>
  <!-- /.row -->
</div>
